/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/roboto-v30-latin-regular.woff2") format("woff2"), url("../fonts/roboto-v30-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-regular - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  src: url("../fonts/open-sans-v36-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* open-sans-700 - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  src: url("../fonts/open-sans-v36-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

:root {
  --max-width-container: 1140px;
  --white: #fff;
  --black: #000;
  --blue: #00bafc;
  --dark-blue: #00f;
  --light-grey: #f3f3f3;
  --main-font: "Open Sans";
}

body {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.container {
  max-width: var(--max-width-container);
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

img {
  max-width: 100%;
  width: 100%;
  height: auto;
  display: inline-block;
}

.site-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: var(--white);
  -webkit-box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
}

.site-header__block {
  max-width: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 341px;
     -moz-column-gap: 341px;
          column-gap: 341px;
  padding: 18px 0;
}

.site-header__logo {
  width: 58px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.site-header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-header__item {
  margin-left: 32px;
}

.site-header__item:first-child {
  margin-left: 0;
}

.site-header__item-link {
  font-family: var(--main-font);
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: var(--black);
  outline: none;
}

.site-header__item:last-child {
  margin-left: 23px;
  padding: 8px 16px;
  border-radius: 5px;
  background: var(--blue);
  cursor: pointer;
}
.site-header__item:last-child .site-header__item-link {
  font-weight: 700;
  color: var(--white);
}

.site-header__menu-logo {
  width: 35px;
  height: 35px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  cursor: pointer;
  display: none;
}

.site-header__close-logo {
  width: 30px;
  height: 30px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  cursor: pointer;
  display: none;
}

.site-header__mobile {
  max-width: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  -webkit-transition: 0.1s;
  transition: 0.1s;
  display: none;
}

.site-header__mobile-list {
  max-width: 77%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 55px;
  overflow-y: scroll;
  padding: 23px 20px 30px 25px;
  background: var(--white);
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.site-header__mobile-link {
  font-family: var(--main-font);
  font-size: 17px;
  font-weight: 400;
  line-height: 24px;
  color: var(--black);
}

.site-header__mobile-item:last-child {
  max-width: 160px;
  padding: 8px 16px;
  margin-left: -5px;
  border-radius: 5px;
  background: var(--dark-blue);
  cursor: pointer;
}
.site-header__mobile-item:last-child .site-header__mobile-link {
  font-weight: 700;
  font-size: 15px;
  color: var(--white);
}

.site-header__mobile-key {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.site-header__mobile-key .site-header__mobile-item:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.site-header__mobile-key .site-header__mobile-item:first-child .site-header__close-logo {
  display: inline-block;
}

@media only screen and (max-width: 1137px) {
  .site-header__block {
    -webkit-column-gap: 50px;
       -moz-column-gap: 50px;
            column-gap: 50px;
  }
}
@media only screen and (max-width: 844px) {
  .site-header__list {
    display: none;
  }
  .site-header__menu-logo {
    display: inline-block;
  }
}
.hero {
  padding-top: 77px;
}

.hero__block {
  padding: 97px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 172px;
     -moz-column-gap: 172px;
          column-gap: 172px;
}

.hero__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 16px;
}

.hero__content-title {
  font-family: var(--main-font);
  font-size: 30px;
  font-weight: 700;
  line-height: 130%;
  color: var(--black);
}

.hero__content-text {
  font-family: var(--main-font);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--black);
}

.hero__content-btn {
  font-family: var(--main-font);
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  padding: 8px 16px;
  border-radius: 5px;
  background: var(--blue);
  color: var(--white);
  outline: none;
}

.hero__video iframe {
  width: 458px;
  height: 258px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border: none;
  border-radius: 7px;
}

@media only screen and (max-width: 1141px) {
  .hero__block {
    -webkit-column-gap: 80px;
       -moz-column-gap: 80px;
            column-gap: 80px;
  }
}
@media only screen and (max-width: 1048px) {
  .hero__content-title {
    font-size: 23px;
    line-height: 150%;
  }
  .hero__block {
    padding-top: 60px;
  }
  .hero__video iframe {
    width: 355px;
    height: 200px;
  }
}
@media only screen and (max-width: 836px) {
  .hero__block {
    padding-top: 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 30px;
  }
  .hero__content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 30px;
  }
  .hero__content-text {
    max-width: 650px;
  }
  .hero__video iframe {
    width: 458px;
    height: 258px;
  }
}
@media only screen and (max-width: 500px) {
  .hero__video iframe {
    width: 400px;
    height: 225px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
}
@media only screen and (max-width: 430px) {
  .hero__video iframe {
    width: 355px;
    height: 200px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .hero__content-title {
    font-size: 20px;
    line-height: 160%;
  }
  .hero__block {
    padding-top: 35px;
    row-gap: 20px;
  }
  .hero__content {
    row-gap: 20px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .hero__content-btn {
    margin-top: 10px;
  }
}
@media only screen and (max-width: 390px) {
  .hero__video iframe {
    width: 320px;
    height: 180px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .hero__content-btn {
    margin-top: 0;
  }
}
@media only screen and (max-width: 350px) {
  .hero__video iframe {
    width: 300px;
    height: 160px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .hero__content-title {
    font-size: 18px;
  }
  .hero__content-text {
    font-size: 14px;
    line-height: 22px;
  }
}
@media only screen and (max-width: 330px) {
  .hero__video iframe {
    width: 280px;
    height: 140px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .hero__content-title {
    font-size: 17px;
  }
}
.services {
  padding: 56px 0;
}

.services__title {
  font-family: var(--main-font);
  font-size: 24px;
  font-weight: 700;
  line-height: 130%;
  text-align: center;
  padding-bottom: 16px;
  color: var(--black);
}

.services__text {
  max-width: 677px;
  font-family: var(--main-font);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 24px;
  color: var(--black);
}

.services__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 70px;
     -moz-column-gap: 70px;
          column-gap: 70px;
  row-gap: 48px;
}

.services__item {
  max-width: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
  padding: 24px;
  border-radius: 5px;
  background: #fff;
  -webkit-box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.1);
}

.services__item-title {
  font-family: var(--main-font);
  font-size: 20px;
  font-weight: 700;
  line-height: 130%;
  color: var(--black);
}

.services__item-text {
  font-family: var(--main-font);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--black);
}

.services__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 16px;
     -moz-column-gap: 16px;
          column-gap: 16px;
  padding-top: 40px;
}

.services__content-btn {
  font-family: var(--main-font);
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  padding: 8px 16px;
  border-radius: 5px;
  background: var(--blue);
  color: var(--white);
  border: none;
  outline: none;
}

.services__content-link {
  font-family: var(--main-font);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-decoration-line: underline;
  color: var(--blue);
  outline: none;
}

@media only screen and (max-width: 557px) {
  .services__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-column-gap: 0;
       -moz-column-gap: 0;
            column-gap: 0;
    row-gap: 20px;
  }
}
.work-order {
  padding: 56px 0;
}

.work-order__title {
  font-family: var(--main-font);
  font-size: 24px;
  font-weight: 700;
  line-height: 130%;
  text-align: center;
  padding-bottom: 16px;
  color: var(--black);
}

.work-order__text {
  max-width: 719px;
  font-family: var(--main-font);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 24px;
  color: var(--black);
}

.work-order__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 48px;
  padding-bottom: 48px;
}

.work-order__item {
  max-width: 832px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 32px;
     -moz-column-gap: 32px;
          column-gap: 32px;
}

.work-order__item-img {
  max-width: 300px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.work-order__item-content {
  max-width: 500px;
}

.work-order__item-content-title {
  font-family: var(--main-font);
  font-size: 20px;
  font-weight: 700;
  line-height: 130%;
  padding-bottom: 8px;
  color: var(--black);
}

.work-order__item-content-text {
  font-family: var(--main-font);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--black);
}

.work-order__btn {
  text-align: center;
}

.work-order__btn a {
  font-family: var(--main-font);
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  padding: 8px 16px;
  border-radius: 5px;
  outline: none;
  background: var(--blue);
  color: var(--white);
}

@media only screen and (max-width: 800px) {
  .work-order__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-column-gap: 0;
       -moz-column-gap: 0;
            column-gap: 0;
    row-gap: 30px;
  }
  .work-order__item:nth-child(2) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .work-order__item:nth-child(4) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .work-order__item-content {
    text-align: center;
  }
  .work-order__item-img {
    max-width: 220px;
  }
  .work-order__text {
    padding-bottom: 30px;
  }
}
@media only screen and (max-width: 395px) {
  .work-order__item-content-title {
    font-size: 18px;
  }
  .work-order__item-content-text {
    font-size: 14px;
    line-height: 22px;
  }
  .work-order__title {
    font-size: 23px;
  }
}
.placing-order {
  padding: 56px 0;
  background: var(--blue);
}

.placing-order__title {
  font-family: var(--main-font);
  font-size: 24px;
  font-weight: 700;
  line-height: 130%;
  text-align: center;
  padding-bottom: 16px;
  color: var(--white);
}

.placing-order__text {
  max-width: 719px;
  font-family: var(--main-font);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 24px;
  color: var(--white);
}

.placing-order__content {
  padding: 8px 0;
}

.placing-order__form {
  max-width: 348px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 16px;
  padding: 24px;
  border-radius: 5px;
  background: var(--white);
}

.placing-order__form-control input {
  max-width: 300px;
  width: 100%;
  padding: 16px;
  border: 2px solid transparent;
  border-radius: 5px;
  outline: none;
  font-family: var(--main-font);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  background: var(--light-grey);
  color: var(--black);
}

.placing-order__form-control input:focus {
  border: 2px solid var(--black);
}

.placing-order__form-control input::-webkit-input-placeholder {
  font-family: var(--main-font);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  color: var(--black);
}

.placing-order__form-control input::-moz-placeholder {
  font-family: var(--main-font);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  color: var(--black);
}

.placing-order__form-control input:-ms-input-placeholder {
  font-family: var(--main-font);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  color: var(--black);
}

.placing-order__form-control input::-ms-input-placeholder {
  font-family: var(--main-font);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  color: var(--black);
}

.placing-order__form-control input::placeholder {
  font-family: var(--main-font);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  color: var(--black);
}

.placing-order__form-select {
  max-width: 300px;
  width: 100%;
  font-family: var(--main-font);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  padding: 16px 20px 16px 14px;
  border: none;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 5px;
  background: var(--light-grey);
  color: var(--black);
  background-image: url("../../images/chevron-down.svg");
  background-repeat: no-repeat;
  background-position-x: 270px;
  background-position-y: 16px;
}

.placing-order__form-btn {
  max-width: 167px;
  font-family: var(--main-font);
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin: 0 auto;
  padding: 8px 16px;
  outline: none;
  border: none;
  border-radius: 5px;
  display: inline-block;
  background: var(--blue);
  color: var(--white);
}

@media only screen and (max-width: 382px) {
  .placing-order__form-select {
    background-position-x: 260px;
  }
}
@media only screen and (max-width: 372px) {
  .placing-order__form-select {
    background-position-x: 252px;
  }
}
@media only screen and (max-width: 364px) {
  .placing-order__form-select {
    background-position-x: 245px;
  }
}
@media only screen and (max-width: 356px) {
  .placing-order__form-select {
    background-position-x: 237px;
  }
}
@media only screen and (max-width: 350px) {
  .placing-order__form-select {
    background-position-x: 230px;
  }
}
@media only screen and (max-width: 341px) {
  .placing-order__form-select {
    background-position-x: 220px;
  }
}
@media only screen and (max-width: 332px) {
  .placing-order__form-select {
    background-position-x: 210px;
  }
}
@media only screen and (max-width: 321px) {
  .placing-order__form-select {
    background-position-x: 200px;
  }
}
@media only screen and (max-width: 311px) {
  .placing-order__form-select {
    background-position-x: 190px;
  }
}
@media only screen and (max-width: 304px) {
  .placing-order__form-select {
    background-position-x: 185px;
  }
}
@media only screen and (max-width: 297px) {
  .placing-order__form-select {
    background-position-x: 175px;
  }
}
@media only screen and (max-width: 287px) {
  .placing-order__form-select {
    background-position-x: 165px;
  }
}
.site-footer {
  padding: 56px 0;
  background: var(--black);
}

.site-footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.site-footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 8px;
}

.site-footer__item:first-child {
  max-width: 320px;
  margin-right: 100px;
}

.site-footer__item:last-child {
  margin-left: 87px;
}

.site-footer__item-title {
  font-family: var(--main-font);
  font-size: 20px;
  font-weight: 700;
  line-height: 130%;
  padding-bottom: 8px;
  color: var(--white);
}

.site-footer__item-text,
.site-footer__item-link,
.site-footer__item-telegram,
.site-footer__item-facebook,
.site-footer__item-instagram {
  font-family: var(--main-font);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  color: var(--white);
}

.site-footer__item-telegram::before {
  content: "";
  width: 22px;
  height: 24px;
  background-image: url(../../images/telegram-logo.svg);
  background-repeat: no-repeat;
  vertical-align: middle;
  margin-right: 8px;
  display: inline-block;
}

.site-footer__item-facebook::before {
  content: "";
  width: 22px;
  height: 24px;
  background-image: url(../../images/facebook-logo.svg);
  background-repeat: no-repeat;
  vertical-align: middle;
  margin-right: 8px;
  display: inline-block;
}

.site-footer__item-instagram::before {
  content: "";
  width: 22px;
  height: 24px;
  background-image: url(../../images/instagram-logo.svg);
  background-repeat: no-repeat;
  vertical-align: middle;
  margin-right: 8px;
  display: inline-block;
}

@media only screen and (max-width: 833px) {
  .site-footer__item:first-child {
    margin-right: 50px;
  }
  .site-footer__item:last-child {
    margin-left: 50px;
  }
  .site-footer__list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media only screen and (max-width: 746px) {
  .site-footer__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-column-gap: 50px;
       -moz-column-gap: 50px;
            column-gap: 50px;
  }
  .site-footer__item:first-child {
    margin-right: 0;
  }
  .site-footer__item:last-child {
    margin-left: 0;
  }
}
@media only screen and (max-width: 553px) {
  .site-footer__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 50px;
  }
  .site-footer__item-title,
  .site-footer__item-text {
    text-align: center;
  }
}
@media only screen and (max-width: 553px) {
  .site-footer__list {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}/*# sourceMappingURL=main.css.map */