/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/roboto-v30-latin-regular.woff2") format("woff2"), url("../fonts/roboto-v30-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-regular - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  src: url("../fonts/open-sans-v36-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* open-sans-700 - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  src: url("../fonts/open-sans-v36-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

:root {
  --max-width-container: 1140px;
  --white: #fff;
  --black: #000;
  --blue: #00bafc;
  --dark-blue: #00f;
}

body {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.container {
  max-width: var(--max-width-container);
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

img {
  max-width: 100%;
  width: 100%;
  height: auto;
  display: inline-block;
}

.site-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: var(--white);
  -webkit-box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
}

.site-header__block {
  max-width: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 341px;
     -moz-column-gap: 341px;
          column-gap: 341px;
  padding: 18px 0;
}

.site-header__logo {
  width: 58px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.site-header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-header__item {
  margin-left: 32px;
}

.site-header__item:first-child {
  margin-left: 0;
}

.site-header__item-link {
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: var(--black);
}

.site-header__item:last-child {
  margin-left: 23px;
  padding: 8px 16px;
  border-radius: 5px;
  background: var(--blue);
  cursor: pointer;
}
.site-header__item:last-child .site-header__item-link {
  font-weight: 700;
  color: var(--white);
}

.site-header__menu-logo {
  width: 35px;
  height: 35px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: none;
}

.site-header__close-logo {
  width: 30px;
  height: 30px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: none;
}

.site-header__mobile {
  max-width: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  -webkit-transition: 0.1s;
  transition: 0.1s;
  display: none;
}

.site-header__mobile-list {
  max-width: 77%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 55px;
  overflow-y: scroll;
  padding: 20px;
  padding-bottom: 30px;
  background: var(--white);
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.site-header__mobile-link {
  font-family: "Open Sans";
  font-size: 17px;
  font-weight: 400;
  line-height: 24px;
  color: var(--black);
}

.site-header__mobile-item:last-child {
  max-width: 160px;
  padding: 8px 16px;
  border-radius: 5px;
  background: var(--dark-blue);
  cursor: pointer;
}
.site-header__mobile-item:last-child .site-header__mobile-link {
  font-weight: 700;
  font-size: 15px;
  color: var(--white);
}

.site-header__mobile-key {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.site-header__mobile-key .site-header__mobile-item:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.site-header__mobile-key .site-header__mobile-item:first-child .site-header__close-logo {
  display: inline-block;
}

@media only screen and (max-width: 1137px) {
  .site-header__block {
    -webkit-column-gap: 50px;
       -moz-column-gap: 50px;
            column-gap: 50px;
  }
}
@media only screen and (max-width: 844px) {
  .site-header__list {
    display: none;
  }
  .site-header__menu-logo {
    display: inline-block;
  }
}
.hero {
  margin-top: 85px;
}/*# sourceMappingURL=main.css.map */