.site-footer {
  padding: 56px 0;
  background: var(--black);
}
.site-footer__list {
  display: flex;
}
.site-footer__item {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
.site-footer__item:first-child {
  max-width: 320px;
  margin-right: 100px;
}
.site-footer__item:last-child {
  margin-left: 87px;
}
.site-footer__item-title {
  font-family: var(--main-font);
  font-size: 20px;
  font-weight: 700;
  line-height: 130%;
  padding-bottom: 8px;
  color: var(--white);
}
.site-footer__item-text,
.site-footer__item-link,
.site-footer__item-telegram,
.site-footer__item-facebook,
.site-footer__item-instagram {
  font-family: var(--main-font);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  color: var(--white);
}
.site-footer__item-link,
.site-footer__item-telegram,
.site-footer__item-facebook,
.site-footer__item-instagram {
  &:hover {
    @include navigationHoverStyle;
  }
}
.site-footer__item-telegram::before {
  content: "";
  width: 22px;
  height: 24px;
  background-image: url(../../images/telegram-logo.svg);
  background-repeat: no-repeat;
  vertical-align: middle;
  margin-right: 8px;
  display: inline-block;
}
.site-footer__item-facebook::before {
  content: "";
  width: 22px;
  height: 24px;
  background-image: url(../../images/facebook-logo.svg);
  background-repeat: no-repeat;
  vertical-align: middle;
  margin-right: 8px;
  display: inline-block;
}
.site-footer__item-instagram::before {
  content: "";
  width: 22px;
  height: 24px;
  background-image: url(../../images/instagram-logo.svg);
  background-repeat: no-repeat;
  vertical-align: middle;
  margin-right: 8px;
  display: inline-block;
}
@media only screen and (max-width: 833px) {
  .site-footer__item:first-child {
    margin-right: 50px;
  }
  .site-footer__item:last-child {
    margin-left: 50px;
  }
  .site-footer__list {
    justify-content: space-between;
  }
}
@media only screen and (max-width: 746px) {
  .site-footer__list {
    flex-wrap: wrap;
    column-gap: 50px;
  }
  .site-footer__item:first-child {
    margin-right: 0;
  }
  .site-footer__item:last-child {
    margin-left: 0;
  }
}
@media only screen and (max-width: 553px) {
  .site-footer__list {
    flex-wrap: wrap;
    row-gap: 50px;
  }
  .site-footer__item-title,
  .site-footer__item-text {
    text-align: center;
  }
}
@media only screen and (max-width: 553px) {
  .site-footer__list {
    justify-content: space-around;
  }
}
